*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Trabalho-3/receiver/target/
/Trabalho-3/sender/target/
/Trabalho-2/Cliente/nbproject/private/
/Trabalho-2/Servidor/nbproject/private/
/Trabalho-2/Servidor/dist/
/Trabalho-2/Servidor/build/
/Trabalho-2/Cliente/dist/
/Trabalho-2/Cliente/build/
/Trabalho-4/Cliente/nbproject/private/
/Trabalho-4/Cliente/build/
/Trabalho-4/Servidor/nbproject/private/
/Trabalho-4/Servidor/build/
/Trabalho-4/Cliente/dist/
/Trabalho-4/Servidor/dist/